@import "imports";

header {
  background-color: #0B610B;
  padding: 15px;

  .header-links {
    display: inline-block;
    list-style-type: none;

    li {
      float: left;
      padding-right: 20px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
