@import "imports";

body.deliverables.index main {
  @include outer-container;

  h2 {
    padding: 10px 20px;
  }

  .deliverables {
    margin: 20px;
  }

  .new-link {
    padding: 10px 20px;
    text-decoration: none;
  }

  table, tr, td {
    border: 1px solid #0A2A12;
    margin: 20px;
    width: 100%;

    tr, td {
      padding: 10px;
    }
  }
}
